.list-group-item {
    width: 100%;
    margin: 8px 2px;
    padding-bottom: 1px;
    font-style: normal;
    font-size: 0.85em;
    text-align: right;

    border-radius: 5px;
    border-style: none solid none none;
    border-width: 2px;
    border-color: var(--list-item-border);
    
    color: var(--list-item-fg);
    background-color: var(--list-item-bg);

    transition: all 0.4s;
}

.list-group-item-display {
    width: 100%;
    height: inherit;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

.list-item-delete {
    float: left;
    visibility: hidden;
    color: red;
    font-size: 1.25em;
    border-radius: 15px;
}

.list-group-item:hover .list-item-delete {
    visibility: visible;
}

.list-group-item:hover {
    color: var(--list-item-hover-fg);
    font-style: italic;
    font-weight: bold;
    margin-left: 15%;
}



